.modal {
    background-color: var(--bg3);
    color: var(--color1);
    border: 2px solid var(--color2);
    border-radius: 8px;
    padding: 1em;
    width: 300px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .modal header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bg2);
    color: var(--color1);
    padding: 0.5em;
    text-align: center;
    border-bottom: 1px solid var(--color2);
  }
  
  .modal .modal-title {
    margin: 0;
    font-size: 1.5em; 
    flex-grow: 1;
    text-align: center;
  }

  .modal .close-button {
    background-color: transparent;
    color: var(--color1);
    border: none;
    font-size: 0.8em;
    cursor: pointer;
  }

  .modal .close-button:hover {
    color: var(--color2);
  }
  
  .modal form {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  
  .modal input[type=text], .modal input[type=number] {
    background-color: var(--color1);
    color: var(--bg3);
    padding: 0.5em;
    border: 1px solid var(--color2);
    border-radius: 4px;
  }
  
  .modal button {
    background-color: var(--color2);
    color: var(--color1);
    padding: 0.5em;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modal button:hover {
    background-color: var(--color3);
    color: var(--bg3);
  }